<?xml version="1.0"?>

<launch>

   <arg name="map_file_path" default="$(find ros_x_habitat)/maps/YFuZgdQ5vWj.yaml"/>
   <arg name="map_file_base_name" default="YFuZgdQ5vWj.yaml"/>
   <arg name="trajectory_source_frame_name" default="/base_frame"/>
   <arg name="trajectory_update_rate" default="4"/>
   <arg name="trajectory_publish_rate" default="0.25"/>

   <master auto="start"/>

   <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file_path)"/>


   <!--- Run AMCL -->
   <node pkg="amcl" type="amcl" name="amcl">
      <!-- Publish scans from best pose at a max of 10 Hz -->
      <param name="odom_model_type" value="diff"/>
      <param name="odom_alpha5" value="0.2"/>
      <param name="transform_tolerance" value="1" />
      <param name="gui_publish_rate" value="10.0"/>
      <param name="laser_max_beams" value="30"/>
      <param name="min_particles" value="500"/>
      <param name="max_particles" value="5000"/>
      <param name="kld_err" value="0.05"/>
      <param name="kld_z" value="0.99"/>
      <param name="odom_alpha1" value="0.2"/>
      <param name="odom_alpha2" value="0.2"/>
      <!-- translation std dev, m -->
      <param name="odom_alpha3" value="0.2"/>
      <param name="odom_alpha4" value="0.2"/>
      <param name="laser_z_hit" value="0.5"/>
      <param name="laser_z_short" value="0.05"/>
      <param name="laser_z_max" value="0.05"/>
      <param name="laser_z_rand" value="0.5"/>
      <param name="laser_sigma_hit" value="0.2"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_model_type" value="likelihood_field"/>
      <!-- <param name="laser_model_type" value="beam"/> -->
      <param name="laser_likelihood_max_dist" value="2.0"/>
      <param name="update_min_d" value="0.2"/>
      <param name="update_min_a" value="0.5"/>
      <param name="odom_frame_id" value="odom"/>
      <param name="resample_interval" value="1"/>
      <param name="transform_tolerance" value="1"/>
      <param name="recovery_alpha_slow" value="0.0"/>
      <param name="recovery_alpha_fast" value="0.0"/>
      <param name="base_frame_id " value="base_frame"/>
   </node>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find ros_x_habitat)/navigation_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find ros_x_habitat)/navigation_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find ros_x_habitat)/navigation_params/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find ros_x_habitat)/navigation_params/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find ros_x_habitat)/navigation_params/base_local_planner_params.yaml" command="load" />
   </node>

   <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization"/>


   <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
      <param name="target_frame_name" type="string" value="/map" />
      <param name="source_frame_name" type="string" value="$(arg trajectory_source_frame_name)" />
      <param name="trajectory_update_rate" type="double" value="$(arg trajectory_update_rate)" />
      <param name="trajectory_publish_rate" type="double" value="$(arg trajectory_publish_rate)" />
   </node>

   <node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen" launch-prefix="nice -n 15">
      <remap from="map" to="/dynamic_map" />
      <param name="map_file_path" type="string" value="$(arg map_file_path)" />
      <param name="map_file_base_name" type="string" value="$(arg map_file_base_name)" />
      <param name="geotiff_save_period" type="double" value="0" />
      <param name="draw_background_checkerboard" type="bool" value="true" />
      <param name="draw_free_space_grid" type="bool" value="true" />
      <param name="plugins" type="string" value="hector_geotiff_plugins/TrajectoryMapWriter" />
   </node>

   <node pkg="rviz" type="rviz" name="rviz" required="false" args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>

</launch>